:root {
    --aqua-primary: #00DDD0;
    --purple-primary: #415EB5;
    --black-primary: #2D4258;
    --white-primary: #F9FFFF;
    --grey-primary: #7A84A1;
    --light-grey-primary: #F0F0F0;
}

h1 {
    font-size: 60px;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    line-height: 1.2;
}

h3 {
    font-size: 24px;
    line-height: 1.2;
}

p {
    line-height: 2;
    font-size: 16px;
}

a {
    text-decoration: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

body {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--main-bg-color);
    min-height: 100vh;
}

.default-button {
    color: black;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
}

.default-button:hover {
    cursor: pointer;
}

.default-button--primary {
    background-color: var(--aqua-primary);
}

.default-button--secondary {
    background-color: var(--purple-primary);
    color: var(--white-primary);
}

/* Start navigation section */

.nav-section {
    padding: 15px 0px;
    background-color: var(--black-primary);
}

.nav-section > .nav-section-body {
    justify-content: space-between;
    display: flex;
    max-height: 45px;
    padding: 0px 50px;
    align-items: center;
}

.nav-section-links {
    padding: 20px 0px;
    display: flex;
    gap: 50px;
}

.nav-section-links > a {
    color: var(--white-primary);
}

.nav-section-links > a:hover {
    color: var(--grey-primary);
}

.nav-section img {
    max-width: 100%;
    max-height: 100%;
}

.nav-section-language-dropdown {
}

.nav-section-language-dropdown-content {
    gap: 10px;
    position: absolute;
    top: 65px;
    right: 40px;
    flex-direction: column;
    display: none;
    background-color: var(--white-primary);
    padding: 10px;
    border-radius: 4px;
}

.nav-section-language-dropdown-selection:hover {
    cursor: pointer;
}

.nav-section-language-dropdown img {
    height: 25px;
}

#language-selection {
    display: none;
}

#language-selection:checked ~ .nav-section-language-dropdown-content {
    display: flex;
}

/* End navigation section */

/* Start hero section */

.hero-section {
    background-color: var(--black-primary);
    min-height: calc(100vh - 70px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 20px 0px ;
}

.hero-section-body {
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-section-primary-block {
    flex-basis: 100%;
    color: var(--white-primary);
    display: flex;
    gap: 50px;
    align-items: center;
}

.hero-section-primary-content {
    flex: 2;
    padding-bottom: 50px;
}

.hero-section-secondary-content {
    flex: 1.5;
    display: flex;
    justify-content: end;
}

.hero-section-secondary-content > img {
    max-height: 600px;
    border-radius: 45px;
    border: 10px solid var(--black-primary);
}

.hero-section-secondary-block {
    flex-basis: 100%;
}

.introduction-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 750px;
}

.introduction-container > h1 {
}

.introduction-container-actions {
    display: flex;
    gap: 20px;
}

.company-reference-bar {
    background-color: var(--purple-primary);
    display: flex;
    border-radius: 25px;
    justify-content: center;
    padding: 25px 10px;
}

.company-reference-bar > ul {
    flex-wrap: wrap;
    gap: 75px;
    display: flex;
    justify-content: center;
}

.company-reference-bar > ul > li {
    flex-basis: 1;
    max-height: 50px;
}

/* End hero section */

/* Start features section */

.features-section {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.features-section-body {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    gap: 150px;
}

.features-primary-block {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    flex: 1;
}

.features-primary-block h2 {
    flex-basis: 100%;
    font-weight: 500;
    color: var(--black-primary)
}

.features-secondary-block {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.features-secondary-block img {
    max-height: 400px;
    border-radius: 45px;
    border: 10px solid var(--white-primary);
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.features-list-item {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.features-list-item > h3 {
    flex-basis: 100%;
    color: var(--black-primary)
}

.features-list-item > p {
    flex-basis: 100%;
    color: var(--black-primary)
}

/* End features section */

/* Start customer section */

.customer-section {
    background-color: var(--black-primary);
    border-radius: 45px;
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.customer-section-body {
    display: flex;
    justify-content: center;
    color: var(--white-primary);
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
}

.customer-section-body-text-block {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.customer-section-body-text-block > h2 {
    font-weight: bold;
    flex-basis: 100%;
}

.customer-section-body-text-block > p {
    flex-basis: 100%;
    max-width: 700px;
}

.customer-section-body-case-block {
    display: flex;
    gap: 50px;
}

.customer-case {
    flex: 1;
}

.customer-case-container {
    position: relative;
}

.customer-case > img {
    position: absolute;
    left: 0;
    top: 0;
}

.customer-case-text-block {
  z-index: 1;
  position: absolute;
  color: var(--white-primary);
  left: 0px;
  top: 0px;
  padding: 30px;
  text-align: left;
  max-width: 250px;
}

.customer-section-body-text-block > h3 {
    font-weight: bolder;
}

.customer-section-body-text-block > p {
    line-height: 1.5;
    padding-top: 10px;
}

.customer-case-button {
    background-color: var(--aqua-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
}

/* End customer section */

@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .nav-section-links {
        display: none;
    }

    .hero-section-body {
        gap: 0px;
    }

    .hero-section-primary-block {
        padding-top: 20px;
        gap: 50px;
        flex-wrap: wrap-reverse;
    }

    .hero-section-primary-content {
        flex-basis: 100%;
        justify-content: center;
    }

    .hero-section-secondary-content {
        flex-basis: 100%;
        justify-content: center;
    }

    .company-reference-bar {
        background-color: var(--black-primary);
    }

    .company-reference-bar > ul {
        gap: 20px;
    }

    .features-section {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        padding: 50px 0px;
    }

    .features-section-body {
        max-width: 100%;
        padding: 0px 30px;
        gap: 30px;
    }

    .features-primary-block {
        flex-basis: 100%;
        gap: 20px;
    }

    .features-secondary-block {
        flex-basis: 100%;
    }

    .features-list {
        gap: 25px;
    }

    .customer-section-body-case-block {
        flex-wrap: wrap;
        gap: 25px;
    }

    .customer-section {
        flex-wrap: wrap;
        padding: 50px 30px;
    }

    .customer-case {
        flex-basis: 100%;
    }
}
